name: Build Lean and TeX files
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency: 
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_lean:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # uses lean standard action with all default input values
      - uses: leanprover/lean-action@v1
